body {
	  text-align: center;
	  padding-top: 40px;
	  background-color: #BC7E9D;
	  font-family: 'Manjari', sans-serif;
	}

 h1 {
   font-size: 50px;
   font-weight: bold;
 }

h2 {
  font-size: 100px;
  margin: 30px 0 30px 0;
}

p {
  font-size: 30px;
}

button {
  border-width: 10px;
  border-style: inset;
  padding: 0 5px 0 5px;
}

section {
  font-size: 30px;
  padding-top: 20px;
}
